<div id="<%= dom_id news %>">
  <p>
    <strong>Title:</strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= news.description %>
  </p>

  <p>
    <strong>When went:</strong>
    <%= news.when_went %>
  </p>

</div>
