<div id="<%= dom_id news %>">
  <p>
    <strong>Titulo:</strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= news.description %>
  </p>

  <p>
    <strong>Fecha/Hora:</strong>
    <%= news.when_went %>
  </p>

</div>
