<h1>Editar Noticia</h1>

<%= render "form", news: @news %>

<br>

<div>
  <%= link_to "Mostrar", @news, class: "btn btn-primary btn-sm mb-2"  %> 
  <%= link_to "Volver", news_index_path, class: "btn btn-primary btn-sm mb-2"  %> 
</div>

<%= button_to "Cerrar sesion", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm" %>